#background {
    background: url("webBG.png"); 
    background-color: green;
    /* background-position: center; */
    display: flex;
    background-repeat: repeat;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100wh;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#title {
    font-size: 4em; 
    margin: 20px 0;
    color: black; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
}


#top-row, #bottom-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.top-row-button, .bottom-row-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.5em;
    width: auto;
}

.bottom-row-button {
    margin: 0 50px; 
}

.top-row-button, .bottom-row-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px 40px; 
    margin: 10px; 
    font-size: 2em; 
    border: none; 
    border-radius: 10px; 
    background-color: black; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    height: 100px; 
    width: 60px; 
}

.top-row-button:hover, .bottom-row-button:hover {
    background-color: black; 
}


.modal {
    position: fixed;
    top: 70%; 
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal-content {
    
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    text-align: left; 
}


.modal-content p {
    align-items: center;
    margin: 5px 0; 
    /*font-family: 'Arial', sans-serif;  Improve legibility */
    font-size: 1em; 
}


/*.card-listing {
    flex-grow: 1;  Allow the card listing to take up most of the space 
}

.current-cards-info {
    flex-grow: 0; Prevent the info section from growing 
    margin-left: 20px; Add some space between the card listing and the info text 
    white-space: nowrap; /* Ensure the text doesn't wrap 
}*/

#current-card-info {
    margin-left: 25%;
    margin-top: 50px;
    font-size: 1.5em;
}

