body {
    background-color: black;
}

div {
    margin-top: 35px;
    text-align: center;
    color: white;
    font-family: Cubano;
}

p {
    font-size: 15em;
}

#title {
    font-size: 5em;
    margin-top: 20px;
    text-align: center;
}

#buttons-containers {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#holes-containers {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin: 50px auto 20px auto; 
}

button {
    width: 10%;
    height: 300px;
    font-size: 8em;
    font-family: Cubano;
    color: white;
    text-align: center;
    background-color: #555555;
    border-width: 8px;
}

.holes {
    width: 10%; 
    height: 300px;
    font-size: 8em;
    font-family: Cubano;
    color: white;
    text-align: center;
    background-color: #555555;
    border-width: 8px;
    margin-left: 150px; 
    margin-right: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.holes span {
    width: 100%;
    display: inline-block;
}
